//- Layout for individual blog posts

extends layout

block main

  .breadcrumbs
    .container
      .pull-left
        h1 Blog
      .ul.pull-right.breadcrumb
        li.active
          a(href="/archive") Archive
        li
          span Post

  .container
    .row.margin-top-20
      .col-md-10
        article#article
          h1= title
          - publishDate.setUTCHours(5)
          - modifyDate.setUTCHours(5)

          div.post-meta By #{author} | Published #{moment(publishDate).calendar().toString()}
            if modifyDate && moment(publishDate).isBefore(modifyDate)
              span  | Updated #{moment(modifyDate).calendar().toString()}
          div!= contents

